<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
      <p>
        <input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="password" name="contrasenia" placeholder="Contrasenia" ngModel required>
      </p>
      <p>
        <input type="submit" value="Login" [disabled]="!frmLogin.form.valid">
      </p>
    </form>
  </div>
</div>